/* Common shared style  */
body {
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  width: 100%;
}
.section-container {
  width: 75%;
  max-width: 1900px;
  margin: auto;
}

/* Section-1 styles */
.banner {
  width: 100%;
  max-width: 1900px;
  align-items: center;
  background-image: url("../images/banner/banner1.png");
  background-position: bottom left;
  background-size: cover;
  margin: auto;
}
.banner .banner-container {
  width: 100%;
  max-width: 525px;
  text-align: right;
  padding: 215px 0;
  margin-right: auto;
  margin-left: 65%;
}
.banner-text .banner-title {
  color: #151414;
  text-align: right;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 24px;
}
.banner-text .banner-description {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-bottom: 30px;
}
.contact-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 160px;
  height: 64px;
  border: 0;
  border-radius: 5px;
  background: #f15b22;
  cursor: pointer;
}
button:hover {
  transition: all 1s, #7ac509 1s;
}

/* failure section styles */
.failure-section {
  background: #fff;
}
.failure-container {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 70%;
  max-width: 1900;
  padding: 140px 0;
}
.failure-image {
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  padding: auto;
}
.pic-bg {
  height: 600.929px;
  padding-bottom: 50px;
  padding-top: 0;
  border-radius: 627.929px;
  background-color: rgba(241, 91, 34, 0.2);
  margin-bottom: 300px;
  margin-top: 150px;
}
.pic{
  padding-bottom: 1200px;
  margin-bottom: 200px;
}
.failure-title {
  color: #151414;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 24px;
}
.failure-description {
  color: #444343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-bottom: 16px;
}
.failure-list {
  list-style-type: circle;
  color: #444343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-bottom: 8px;
}

/* My plan section styles */
.plan-container {
  width: 70%;
  max-width: 1900px;
  margin: auto;
  display: flex;
  gap: 170px;
  justify-content: center;
  padding: 130px;
}
.section-title {
  text-align: center;
  color: #151414;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 50px;
}
.plan-item {
  text-align: center;
}
/* Newsletter section styles */

.newsletter-container {
  width: 45%;
  max-width: 1900px;
  padding: 60px 615px 60px 60px;
  justify-content: center;
  margin: auto;
  background-image: url("../images/gradient2.png"), url("../images/watch.png");
  background-size: cover;
  background-position: top left;
  border-radius: 10px;
}

.newsletter-heading {
  width: 60%;
  max-width: 500px;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.newsletter {
  justify-content: center;
  margin: auto;
  padding-bottom: 20px;
}
.newsletter-heading {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 24px;
}
.call-now {
  color: #f15b22;
  font-size: 20px;
  font-weight: 600;
  width: 160px;
  height: 64px;
  border: 0;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

/* Footer styles */
.footer-container{
  width: 100%;
  max-width: 1900;
  background: #151414;
  padding: 230px 130px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.footer-text-title{
  color: #F8F8F8;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
footer p{
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-bottom: 24px;
}
.footer-text{
  width: 45%;
  max-width: 1440px;
  display: block;
  text-align: left;
}
.social-media{
  
}
.sub-heading{
  color: #FFF;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.subsribe{
  color: #F15B22;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: 0;
border-radius: 8px;
background: #FFF;
}
.footer-subscription{
  width: 45%;
  max-width: 1440px;
  display: block;
  text-align: left;
}
